# Python
__pycache__/
*.py[codz]
*$py.class
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.envrc
env/.env*
!env/.env.example*

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/

# Others
*.log

# DB
mongodb/

# Alembic
alembic.ini
!alembic.example.ini

# Assets
app/app/
app/assets/files/